
@import 'utils.less';

#search {
  float: right;
  .field-content { width: 300px; }
}

table {
  width: 100%;
  margin-top: 10px;
  .ui-button { height: 1.2em; }
  &#libri-matricola {
    tbody tr:not(.empty-table-row):hover {
      background-color: antiquewhite;
      cursor: pointer;
    }
    .action-column { width: 40px; }
    .dealer-column { white-space: nowrap; }
    .numero-column { width: 130px; }
    .count-column { width: 75px; }
    .totale-column { width: 110px; }
  }
  &#applicazioni {
    td {
      .with-product { color: forestgreen; }
      .without-product { color: darkred; }
      .validita-applicazione {
        height: 16px;
        &.scaduta .ui-progressbar-value { background: orange; }
      }
    }
    .action-column {
      width: 40px;
      &.admin { width: 106px; }
    }
    .pagata-column { width: 20px; }
    .numero-column, .stato-column { width: 90px; }
    .stato-column {
      .preventivo { color: orange; }
      .polizza { color: forestgreen; }
      .esclusa { color: darkred; }
    }
    .pagata-il-column { width: 135px; }
    .validita-column { width: 175px; }
    .tipologia-column, .veicolo-column {
      max-width: 75px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .targa-column { width: 60px; }
    .valore-column { width: 100px; }
    .prodotto-column {
      max-width: 80px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .premio-column { width: 110px; }
    .delete-column { width: 20px; }
    @media (max-width: 1655px) { .tipologia-column { display: none; } }
    @media (max-width: 1560px) { .veicolo-column { display: none; } }
    @media (max-width: 1385px) { .valore-column { display: none; } }
    @media (max-width: 1275px) { .premio-column { display: none; } }
    @media (max-width: 1155px) {
      .prodotto-column { display: none; }
      .veicolo-column { display: table-cell; }
      .premio-column { display: table-cell; }
    }
    @media (max-width: 1095px) { .veicolo-column { display: none; } }
    @media (max-width: 920px) { .premio-column { display: none; } }
  }
  &#calcoli {
    margin-bottom: 10px;
    table-layout: fixed;
    .prodotto-column {
      background-color: #EEEEEE;
      width: 130px;
    }
  }
  &#tracciati {
    margin-bottom: 10px;
    table-layout: fixed;
    th.data-esportazione-column { width: 150px; }
    th.garanzia-column { width: 120px; }
    th.small-column { width: 100px; }
    td.tracciato-column {
      white-space: pre;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  &#tracciato-scomposto {
    th.campo-column { width: 350px; }
    th.valore-column { width: 250px; }
  }
  &#duplicati {
    a {
      text-decoration: underline;
      color: @link_color;
    }
  }
}

#applicazione {
  margin-top: 50px;
  .field-label { width: 175px; }
  .field-content { width: 49.66%; }
  .currency:after { content: " €" }
  .field textarea {
    resize: vertical;
    vertical-align: top;
    &.output {
      resize: none;
      cursor: default;
    }
  }
  #legend {
    .clearfix;
    margin-bottom: 15px;
    label {
      color: grey;
      font-style: italic;
      float: right;
      span { color: @body_border; }
    }
  }
  #left, #right {
    width: 48%;
    display: inline-block;
    vertical-align: top;
  }
  #targaProva { margin: 8px 0px 8px -1px; }
  #prodotti {
    display: inline-block;
    list-style: none;
    vertical-align: top;
    padding: 0;
    margin: 0;
  }
  .field#quintali { display: none; }
  #form-footer { margin-top: 50px; }
  #s-e { margin-right: 10px; }
  &.mostra {
    .output { font-weight: bold; }
    #edit-button { float: right; }
    .mostra-tracciato { vertical-align: baseline; }
  }
}

.ui-datepicker {
  .border-box;
  width: 300px;
}

.fake {
  width: 0px;
  height: 0px;
  position: absolute;
  top: -100px;
}

#form-certificato, #form-preventivi {
  .field {
    display: inline-block;
    .data-pagamento {
      width: 100px;
      text-align: center;
    }
  }
}

#form-estrazione {
  padding: 10px;
  .field-label, .field-content { width: 220px; }
  .garanzie {
    background-color: transparent;
    vertical-align: top;
    padding: 0px 5px;
    .garanzia { display: block; }
  }
  .range {
    .field {
      display: inline-block;
      &:last-child .field-label { width: auto; }
    }
  }
  #premio-range {
    width: 400px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: text-bottom;
  }
}

#form-esclusione {
  .field-label { width: 150px; }
  .codici {
    background-color: transparent;
    vertical-align: top;
    padding: 0px 5px;
    margin: 0px;
    .codice { display: block; }
  }
}