
@import url(http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic);
@import 'utils.less';

* { outline: none; }

html {
  font-family: 'Karla', sans-serif;
  .ui-widget, .ui-widget button { font-family: 'Karla', sans-serif; }
  background-color: @html_bg;
  body {
    font-size: 15px;
    /*max-width: 1280px;*/
    min-width: 800px;
    #wrapper {
      background-color: @body_bg;
      /*border-left: solid 1px @body_border;
      border-right: solid 1px @body_border;*/
      #main {
        padding-bottom: 50px;
        #loghi {
          background-color: white;
          border-bottom: solid 1px @body_border;
          position: relative;
          text-align: center;
          overflow: hidden;
          height: 160px;
          #logo-mach1 {
            position: absolute;
            left: 10px;
            top: 25px;
          }
          #logo-vw { margin-top: 50px; }
          #logo-covea {
            position: absolute;
            right: 10px;
            top: 10px;
          }
          #logo-padana {
            position: absolute;
            right: -5px;
            top: 120px;
            width: 320px;
          }
          @media (max-width: 855px) {
            #logo-vw {
              position: absolute;
              left: 250px;
            }
          }
        }
        #header { border: none; }
        #body { padding: 10px; }
      }
    }
    #footer {
      .border-box;
      margin: -50px 1px 0px 1px;
      height: 50px;
      text-align: center;
      font-size: 0.7em;
      padding: 5px;
      background-color: white;
      border-top: solid 1px @body_border;
      strong { font-size: 1em; }
    }
    #spinner {
      display: none;
      position: absolute;
      z-index: 10000;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  display: block;
  text-align: center;
  padding: 5px 0px;
  margin: 0px;
}

h1 { font-size: 1em; }
h2 { font-size: 1.2em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.6em; }
h5 { font-size: 1.8em; }
h6 { font-size: 2em; }

form {
  .clearfix;
  input[type=submit], button[type=submit] { float: right; }
}

a {
  text-decoration: none;
  color: @link_color;
}

.ui-button { margin: 0; }

.clickable { cursor: pointer; }

.ajax:before { content: url(../images/spinner.gif); }

.ui-tooltip { max-width: 400px !important; }

.button {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: text-bottom;
  &.delete { background: transparent url(/images/delete.png) no-repeat; }
  &.view { background: transparent url(/images/view.png) no-repeat; }
  &.edit { background: transparent url(/images/edit.png) no-repeat; }
  &.locked { background: transparent url(/images/locked.png) no-repeat; }
  &.unlocked { background: transparent url(/images/unlocked.png) no-repeat; }
  &.emetti { background: transparent url(/images/emetti.png) no-repeat; }
  &.doc { background: transparent url(/images/document_solid.png) no-repeat; }
  &.doc.contrassegno { background: transparent url(/images/doc_contrassegno.png) no-repeat; }
  &.doc.preventivo { background: transparent url(/images/doc_preventivo.png) no-repeat; }
  &.refresh { background: transparent url(/images/refresh.png) no-repeat; }
  &.rinnova { background: transparent url(/images/rinnova.png) no-repeat; }
}

.field {
  &.error {
    .field-content, .field-content:focus, .field-content {
      border: solid 1px red;
      .shadow(0px, 0px, 4px, 0px, red);
    }
    .error-icon {
      display: inline-block;
      vertical-align: text-bottom;
    }
  }
  .field-label {
    display: inline-block;
    text-align: right;
    .border-box;
    padding-right: 5px;
    &.required:before {
      content: "*";
      margin-right: 5px;
      color: @body_border;
    }
  }
  .field-content {
    .border-box;
    .inline-block;
    margin: 2px 0;
    padding: 2px 5px;
    background: white;
    font: inherit;
    line-height: 1em;
    &.select2-container {
      background: transparent;
      padding: 0px;
      .select2-choice {
        height: 22px;
        line-height: 22px;
        .select2-arrow b { background-position: 0 -1px; }
      }
    }
    &:focus { .shadow(0px, 0px, 4px, 0px, @outline_color); }
    &.search { padding-right: 20px; }
    &.search+.ui-icon {
      display: inline-block;
      vertical-align: text-top;
      margin-left: -22px;
    }
    &.uppercase { text-transform: uppercase; }
    &.output {
      border: none;
      font-style: italic;
      white-space: nowrap;
    }
    &.selectize-control {
      padding: 0px;
      .selectize-input { padding: 2px 5px; }
    }
  }
}

.error-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.flash {
  padding: 2px 5px;
  margin: 5px 0px;
  &.error {
    background: @error_bg;
    color: @error_color;
    border: dashed 1px @error_color;
  }
  &.message {
    background: @message_bg;
    color: @message_color;
    border: dashed 1px @message_color;
  }
  &.info {
    background: @info_bg;
    color: @info_color;
    border: dashed 1px @info_color;
  }
}

.menu {
  .clearfix;
  list-style: none;
  padding: 10px 9px 10px 5px;
  margin: 0px;
  border-bottom: solid 1px @body_border;
  &.ui-buttonset { margin-right: 0px; }
  li {
    float: left;
    &.ui-menu-item { width: auto; }
    &#logout { float: right; }
    a.active {
      background: lightskyblue;
      color: white;
    }
  }
}

table.grid-table {
  border-collapse: collapse;
  th, td, caption {
    padding: 5px;
    border: solid 1px #AAAAAA;
    &.centered-column { text-align: center; }
    &.left-align-column { text-align: left; }
    &.right-align-column { text-align: right; }
  }
  caption {
    background-color: #EEEEEE;
    border-bottom: none;
  }
  thead {
    tr {
      background-color: #EEEEEE;
      th {
        .sort-icon {
          display: inline-block;
          vertical-align: text-bottom;
        }
      }
    }
  }
  tbody {
    tr { background-color: #FFFFFF; }
  }
  tfoot {
    tr {
      background-color: #EEEEEE;
      #max-field {
        float: left;
        .field {
          display: inline-block;
          .field-content {
            width: 50px;
            text-align: center;
          }
        }
      }
      #offset-field {
        float: right;
        .field { display: inline-block; }
        .offset-link {
          display: inline-block;
          vertical-align: top;
          padding: 3px;
          margin: 2px 2px 1px 2px;
        }
      }
    }
  }
}

.ui-icon {
  &.ui-icon-excel {
    background-image: url(/images/excel.png);
    width: 16px;
    height: 16px;
  }
}