
@import 'utils.less';

#body { overflow-x: scroll; }
.grid-table td { text-align: right; }
.col-95 { min-width: 95px; }

.fake {
  width: 0px;
  height: 0px;
  position: absolute;
  top: -100px;
}

.versione-trigger {
  cursor: pointer;
  color: @link_color;
}

.versione-dialog {
  .field {
    .field-label {
      width: 150px;
      text-align: right;
    }
    .download-versione { color: @link_color; }
  }
}