
@html_bg: #C9C9C9;
@body_bg: #FFFFFF;
@body_border: #3383BB;
@link_color: #3383BB;
@outline_color: #2694e8;
@message_bg: #80FF80;
@message_color: #008000;
@error_bg: #FF8080;
@error_color: #800000;
@info_bg: #FFFF80;
@info_color: #808000;

.border-radius (@radius: 5px) {
    border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
}

.border-top-left-radius (@radius: 5px) {
    border-top-left-radius: @radius;
    -moz-border-top-left-radius: @radius;
    -webkit-border-top-left-radius: @radius;
}

.border-top-right-radius (@radius: 5px) {
    border-top-right-radius: @radius;
    -moz-border-top-right-radius: @radius;
    -webkit-border-top-right-radius: @radius;
}

.border-bottom-left-radius (@radius: 5px) {
    border-bottom-left-radius: @radius;
    -moz-border-bottom-left-radius: @radius;
    -webkit-border-bottom-left-radius: @radius;
}

.border-bottom-right-radius (@radius: 5px) {
    border-bottom-right-radius: @radius;
    -moz-border-bottom-right-radius: @radius;
    -webkit-border-bottom-right-radius: @radius;
}

.border-top-radius (@radius: 5px) {
    .border-top-left-radius(@radius);
    .border-top-right-radius(@radius);
}

.border-bottom-radius (@radius: 5px) {
    .border-bottom-left-radius(@radius);
    .border-bottom-right-radius(@radius);
}

.border-left-radius (@radius: 5px) {
    .border-top-left-radius(@radius);
    .border-bottom-left-radius(@radius);
}

.border-right-radius (@radius: 5px) {
    .border-top-right-radius(@radius);
    .border-bottom-right-radius(@radius);
}

.box-sizing(@sizing: border-box) {
  box-sizing: @sizing;
  -moz-box-sizing: @sizing;
  -webkit-box-sizing: @sizing;
}

.border-box { .box-sizing(border-box); }

.shadow (@h: 2px, @v: 2px, @b: 2px, @s: 0px, @c: gray) {
    box-shadow: @h @v @b @s @c;
    -webkit-box-shadow: @h @v @b @s @c;
}

.inline { display: inline; }
.inline-block { display: inline-block; }
.block { display: block; }

.clearfix {
  &:before, &:after {
    content: "";
    display: table;
    border-collapse: collapse;
  }
  &:after { clear: both; }
  min-height: 0; /* support: IE7 */
}